.flip-card {
  width: 140px;
  height: 140px;
  background: transparent;
  perspective: 1000px;
  &:hover {
    cursor: pointer;
  }

  .flip-card-inner {
    border-radius: 10px;
    position: relative;
    width: 100%;
    height: 100%;
    transition: transform 0.9s;
    transform-style: preserve-3d;
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px,
      rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
    // transform: rotateY(180deg);
  }

  .flip-card-front {
    transform: rotateY(180deg);
    -webkit-text-stroke: 0.5px whitesmoke;
  }

  .flip-card-front,
  .flip-card-back {
    width: 100%;
    height: 100%;
    position: absolute;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
  }
}

.active {
  transform: rotateY(180deg);
}
